@media only screen and (min-width: 35rem) {
    .hero {
        width: 70%;
        display: block;
        margin: 0 auto;
    } 
    .button-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
      }
      .button-container button {
        padding: 5px;
      }
      section img {
        width: 70%;
      }
} /* end media query*/